/.idea/*
/.vscode/*

/upload/*

/bitrix/*/*
/bitrix/*.*
!/bitrix/templates/*


restore.php

*.log
*.sql
*.txt
*.dt
*.swp
*.swo
*.csv
*.DS_Store
*.db
*.tar
*.gz.*
test*
.htaccess
*.xml
*.json

urlrewrite.php

